{% extends 'socialauth/base.html' %}
{% load media %}

{% block html_declare %}
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
{% endblock %}

{% block extra_head %}
  <!-- Simple OpenID Selector -->

  {% include_media 'openid_main.css' %}
  <!-- link rel="stylesheet" href="{{ MEDIA_URL }}css/openid.css" /> -->

  <!--<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>-->

  {% include_media 'socialauth_main.js' %}
  <!-- script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.2.6.min.js"></script> -->
  <!-- script type="text/javascript" src="{{ MEDIA_URL }}js/openid-jquery.js"></script> -->

  <script type="text/javascript">
	$(document).ready(function() {
	  openid.init('openid_identifier');
	});
	//function facebook_onlogin(){
    //  window.location = "{% url socialauth_facebook_login_done %}"
	//}
  </script>
  <!-- /Simple OpenID Selector -->
{% endblock %}

{% block extra_body %}
{{ block.super }}

{% endblock %}

{% block main_content %}
{% include 'socialauth/embedded_login.html' %}
{% endblock %}
