{% extends 'pending485_base.html' %}
{% load media %}

{% block intro %}
{% endblock %}

{% block page-heading %} log in to start I485 Application Tracking {% endblock %}

{% block navigate %}
{% endblock %}

{% block title %}
Log in into Realtime Application Tracking
{% endblock %}


{% block embedded_content %}
{% include 'socialauth/embedded_login.html' %}
{% endblock %}

{% block realtime_report %}
<div class="grid_7">
  <div class="box">
    <h2>
      <a href="#" id="toggle-tables">Why do I have to log in?</a>
    </h2>
    <div class="block" id="tables">
      <fieldset>
	<legend>What is OpenID?</legend>
	<p>We simply would like to make sure that you are real human. OpenID allows us to do this, without needing to create new passwords.</p>
	<p>Your password is only given to your identity provider, and that provider then confirms your identity to our website. We do not ever see your password, so you don’t need to worry about us compromising your identity.</p>
	<p>You may choose to associate information with your OpenID that can be shared with us, such as a name or email address. You remain in control how much of that information is shared through your provider.</p>
	<li>It’s a single username and password that allows you to log in to any OpenID-enabled site.</li>

	<li>It works on thousands of websites.</li>

	<li>It’s an open standard.</li>

	<li>It's hard to keep up with so many usernames and passwords!</li>
	<br>
	<a href="http://openid.net/get-an-openid/what-is-openid/">learn more »</a>
      </fieldset>
    </div>
  </div>
</div>

{% endblock %}
